:root {
	/* #region Page Sizing Variables */
	--header-height: 50px;
	--main-max-width: 1200px;
	--main-padding: 10px;
	--footer-height: 50px;
	/* #endregion */
	/* #region Color Variables */
	--body-bg: #000;
	--header-bg: #000;
	--main-bg: #000;
	--footer-bg: #000;
	--default-color: #fff;
	--default-border-color: #fff;
	/* #endregion */
	/* #region Font Variables */
	--default-font: sans-serif;
	--default-heading: sans-serif;
	--default-monospace: monospace;
	--default-font-size: 100%;
	--default-heading-size: 100%;
	--default-monospace-size: 100%;
	/* #endregion */
}

/* #region Default Page Sizing Rules */
header {
	height: var(--header-height);
}

main {
	max-width: var(--main-max-width);
	min-height: calc(100vh - var(--header-height) - var(--footer-height));
	margin: 0px auto;
	padding: 0px var(--main-padding);
}

footer {
	height: var(--footer-height);
}

header,
footer {
	max-width: var(--main-max-width);
	padding: 0px calc((100vw - min(var(--main-max-width), 100vw)) / 2);
}
/* #endregion */

/* #region Default Styling Rules */
body {
	background: var(--body-bg);
	color: var(--default-color);
	font-family: var(--default-font);
	font-size: var(--default-font-size);
}

header {
	background: var(--header-bg);
	border-bottom: 1px solid var(--default-border-color);
}

main {
	background: var(--main-bg);
}

footer {
	background: var(--footer-bg);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--default-heading);
	font-size: var(--default-heading-size);
}

code,
kbd,
pre,
samp,
var {
	font-family: var(--default-monospace);
	font-family: var(--default-monospace-size);
}
/* #endregion */